.notification {
  background-color: lightgrey;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.error {
  color: red;
}
.completion {
  color: green;
}